<div class="card">
    <img src=@product.ImageUrl class="card-img-top" alt="product image">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">@product.Title</h5>
        <p class="card-text">@product.Price $</p>
        <a href="@($"product-details/{product._Id}")" class="btn" style="background-color: #0C2262;color : #fff;">Show
            details</a>
    </div>
</div>
