@if (Products == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var product in Products)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <ProductPresentation product=@product />
                </div>
            }
        </div>
    </div>
}
